# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo

# coverage
coverage/
